<div ng-controller="secondController">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div>
        <input class="form-control" type="text" ng-model="name" placeholder="Enter your Name.." />
        <input class="form-control" type="text" ng-model="color" placeholder="Enter your favourite color.." />
      </br>
      <change-color></change-color>
      </div>

      <button type="button" class="btn-primary" ng-click="toggleElem()"> {{ showName}}</button>
        <p ng-hide="showOrHide"> Hide Me Please... !!! </p>
    </div>
      <div> You are in {{active}} tab</div>
  </div>
</div>
